@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './utils/mixins';

@import './base/container';
@import './base/section';
@import './base/section-title';
@import './base/common';

@import './components/page-header';
@import './components/logo';
@import './components/propositions';
@import './components/features';
@import './components/works';
@import './components/team';
@import './components/client';
@import './components/footer';
@import './components/modal';
@import './components/portfolio';
@import './components/menu';

