
.features-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
        margin-left: -30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: -30px;
    }
}

.features-list__item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 30px;
        margin-left: 30px;

        flex-basis: calc(100%/2 - 30px);
    }

    @media screen and (min-width: 1200px) {
        margin-left: 30px;
        flex-basis: calc(100%/4 - 30px);
    }
}

.features-list__thumb {
    @extend %align;
    margin-bottom: 30px;
    padding: 25px 0;
    justify-content: center;
    background-color: var(--color-bg-filter);
}

.features-list__title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    @include font(inherit, inherit);
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
            text-align: center;
        }
}

.features-list__description {
    line-height: 1.71;
    font-weight: 400;
    color: var(--primary-text-color);
}