.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--color-bg);
}

.footer__content {
    @media screen and (max-width:1199px) {
            text-align: center;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.footer__tablet-wrapper {
    @media screen and (min-width: 767px) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
}

.footer__nav {
    @media screen and (min-width: 1200px) {
            margin-right: 70px;
    }   
}

.logo-footer,
.footer-contact__map,
.footer-social__title,
.footer-form__title {
    color: var(--primary-white-color);
}

.footer-contact {
    margin-top: 20px;
    line-height: 1.71;
    font-weight: 400;
    font-style: normal;
}

.footer-contact__map {
    text-decoration: none;

}

.footer-contact__map,
.footer-contact__link {
    line-height: 1.71;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-contact__link {
    color: var(--accept-footer);
    text-decoration: none;
}

.contact-list,
.contact-list__tel {
    margin-top: 9px;
}

.footer-social {
    margin-top: 60px;
    
    @media screen and (min-width: 768px) {
        margin-top: 0px;
    }
    
}

.footer-social__title,
.footer-form__title {
    font-weight: 700;
    @include font(inherit, inherit);
    text-transform: uppercase;
}

.footer-social__list {
    margin-top: 20px;
}


.footer-social__link {
    background-color: var(--color-bg-link-footer);
    
}

.footer-social__icon {
    fill: var(--primary-white-color);
}

.footer-form__wrapper {
    @media screen and (max-width: 1199px) {
        margin-top: 60px;
    }
}

.input__wrapper{
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.footer-form__input {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--color-bg);
    color: var(--primary-white-color);
    cursor: pointer;
   
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        outline: none;
        border-color: var(--accent-color);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 450px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 358px;
    }

    &::placeholder {
        font-weight: 400;
        @include font(16px, 1.25);
        color: var(--accept-footer);
    } 
}

.footer-form__submit-btn {
    position: relative;

    @extend %align;
    @extend %button;
    padding: 10px 28px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        background-color: var(--color-button-primary);
    }
    @media screen and (min-width: 1200px) {
        margin-left: 12px;
    }

    &::after {
        position: absolute;
        bottom: 10px;
        right: 28px;
        display: block;
        content: '';
        background-image: url('../images/send.svg');
        width: 24px;
        height: 24px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::after {
        transform: scale(0.7);
    }
}

