.logo {
    color: var(--accent-color);
    font-family: var(--secondary-font-family);
    font-weight: 700;
    @include font(24px, 1.17);
    text-decoration: none;

    @media screen and (min-width: 1200px) {
        @include font(26px, 1.19);
    }
}

.logo__text--inverse {
    color: var(--new-accept);
    text-decoration: none;
}