.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background: var(--color-bg-backdrop);
    opacity: 1;
    transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        &.modal{
        transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 100%;
    height: 580px;

    padding: 40px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 580px;
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    @extend %align;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;

    border-radius: 50%;
    border: 1px solid var(--border-close-btn);
    background-color: var(--primary-white-color);
    color: var(--new-accept);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.modal__close-icon {
    fill: currentColor;
}

.modal__title {
    font-family: inherit;
    font-weight: 700;
    @include font(20px, 1.5);
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;

    @media screen and (min-width:1200px){
        @include font(20px, 1.15);
    }
        
}

.modal-form {
    margin-left: auto;
    margin-right: auto;

}
.modal-form__field,
.modal-form__comment{
    font-family: inherit;
    font-weight: 400;
    @include font(12px, 1.17);
    letter-spacing: 0.01em;
}
.modal-form__field {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    color: var(--primary-text-color);

    &:nth-child(4) {
        margin-bottom: 20px;
    }
}

.modal-form__input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font: inherit;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-form__icon {
    display: block;
    position: absolute;
    top: 29px;
    left: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .modal-form__input:focus + &,
    .modal-form__input:hover + &{
        fill: var(--accent-color);
    }
}

.modal-form__comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    color: var(--new-accept);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:placeholder {
        font-weight: 400;
        @include font (12px, 1.16);
        letter-spacing: 0.01em;
        color: var(--color-comment-placeholder);
    }

    &:hover,
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.checkbox__field {
    @extend %align;
    width: 100%;
    justify-content: center;

    margin-bottom: 30px;

    font-weight: 400;
    @include font(12px, 1.17);
    color: var(--primary-text-color);

    @media screen and (min-width:1200px) {
        @include font(14px, 1.71);
    }
}

.checkbox__policy {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox__icon {
    display: inline-block;
    margin-right: 7px;
    content: " ";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }

    .checkbox__policy:checked + &{
        transform: scale(1.5);
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        background-image: url('../images/check.svg');
        background-size: contain;
        background-origin: border-box;
    }

    .checkbox__policy:focus + & {
        border-color: var(--accent-color);
    }


}

.checkbox__accent {
    color: var(--accent-color);
    text-decoration-line: underline;
    margin-left: 5px;
    cursor: pointer;
}

.modal-form__btn {
    display: block;
    @extend %button;
    padding: 10px 52px;
    margin: 0 auto;

    width: 200px;
    height: 50px;

    border-radius: 4px;
    border: none;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: var(--color-button-primary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
