body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: var(--primary-font-family);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.link{
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;   
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
