// %notification {
//     background-color: blue;
//     font-size: 20px;
//     padding: 20px;
// }

%list{
    margin: 0;
    padding: 0;
    list-style: none;
}

%align{
    display: flex;
    align-items: center;
}

%button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit; 
    border:none;
}

%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

%section__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}