

:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --new-accept: #000000;
    --color-page-header: #ECECEC;
    --color-button-primary: #188CE8;
    --color-bg: #2F303A;
    --color-bg-filter: #F5F4FA;
    --accept-footer: rgba(255, 255, 255, 0.6);
    --color-bg-link-footer: rgba(255, 255, 255, 0.1);
    --color-link: #AFB1B8;
    --color-border: #EEEEEE;
    --color-bg-label: rgba(47, 48, 58, 0.8);
    --color-bg-backdrop: rgba(0, 0, 0, 0.2);
    --color-bg-overlay: rgba(33, 150, 243, 0.9);
    --color-comment-placeholder: rgba(117, 117, 117, 0.5);
    --border-close-btn: rgba(0, 0, 0, 0.1);
}